body{
    background-color: red;
}
.parrafo{
    font-size: 20px;
    font-weight: bold;
 }
.cabecera{
    background-color: pink;
}

.links{
    background-color: blue;
    color: white;
}

.container{
    text-align: center;
}